@import 'tailwindcss';

/* Custom CSS from your output */
.animate-scroll {
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer base {
  html {
    overflow-y: scroll;
  }
}